aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.0
attrs==24.2.0
blinker==1.8.2
buildozer==1.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
distlib==0.3.8
distro==1.9.0
docutils==0.21.2
filelock==3.16.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
GPUtil==1.4.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.9
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.5.0
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.2
mpmath==1.3.0
multidict==6.1.0
networkx==3.3
numpy==2.1.1
openai==0.28.0
packaging==24.1
pandas==2.2.2
pefile==2024.8.26
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.3
psutil==6.0.0
ptyprocess==0.7.0
pydantic==2.9.2
pydantic_core==2.23.4
pygame==2.6.0
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.4
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==306
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.1.0
sh==2.0.7
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
sympy==1.13.3
tk==0.1.0
torch==2.4.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.4
Werkzeug==3.0.4
yarl==1.11.1
