{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Danh sách sản phẩm</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/' + str(product['id']) + '.jpg') }}" class="card-img-top" alt="{{ product['name'] }}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ product['name'] }}</h5>
                    <p class="card-text">Giá: {{ product['price'] }} VNĐ</p>
                    <a href="{{ url_for('add_to_cart', product_id=product['id']) }}" class="btn btn-primary btn-block">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
